@import "../styles/variable";

.external{
    display: inline-flex;
    align-items: center;
    padding: 8px 32px;
    border-radius: 100px;
    border: 1px solid $subprimary;
    transition: 0.3s;
    svg{
        margin: 0 0 0 8px;
        transition: 0.3s;
    }
    &:hover{
        background-color: $subprimary;
        color: $primary;
        svg{
            transform: translateX(4px);
            path{
                stroke: $primary;
            }
        }
    }
}

.internal{
    display: inline-flex;
    background-color: $subprimary;
    align-items: center;
    padding: 8px 32px;
    color: $primary;
    border-radius: 100px;
    transition: 0.3s;
    border: 1px solid $subprimary;
    svg{
        margin: 0 0 0 8px;
        transition: 0.3s;
    }
    &:hover{
        background-color: $primary;
        color: $subprimary;
        svg{
            transform: translateX(4px);
            path{
                stroke: $subprimary;
            }
        }
    }
}