@import "../styles/variable";

.external{
    display: inline-flex;
    align-items: center;
    padding: 8px 32px;
    border-radius: 100px;
    border: 1px solid $subprimary;
    svg{
        margin: 0 0 0 8px;
    }
}

.internal{
    display: inline-flex;
    background-color: $subprimary;
    align-items: center;
    padding: 8px 32px;
    color: $primary;
    border-radius: 100px;
    svg{
        margin: 0 0 0 8px;
    }
}