.hero {
  padding: 200px 120px 0;
  text-align: center;
}

.hero h1 {
  margin: 8px 0 80px;
}

.hero .image {
  border-radius: 16px;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 24px;
  }
  .hero h1 {
    margin: 8px 0 40px;
  }
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px;
  width: 100%;
}

.summary .summaryLeft {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.summary .summaryLeft a {
  margin: 24px 0 0;
}

.summary p {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .summary {
    padding: 80px 24px 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .summary .summaryLeft {
    width: 100%;
    padding: 0 0 40px;
  }
  .summary p {
    width: 100%;
  }
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.details .tags {
  width: 50%;
  margin: 0 0 0 120px;
}

.details .tags h2 {
  margin: 80px 0 0;
}

.details .tags h2:first-child {
  margin: 0;
}

.details .tags ul {
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details .tags {
    width: 100%;
    margin: 0 24px 0;
  }
}

.processTitle {
  margin: 120px 120px 0;
}

@media screen and (max-width: 768px) {
  .processTitle {
    margin: 120px 24px 0;
  }
}

.process {
  width: 600px;
  margin: 0 auto 120px;
}

.process h1 {
  margin: 80px 0 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #DDDDDD;
}

@media screen and (max-width: 768px) {
  .process h1 {
    font-size: 28px;
  }
}

.process h2 {
  margin: 80px 0 16px;
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #DDDDDD;
}

@media screen and (max-width: 768px) {
  .process h2 {
    font-size: 20px;
  }
}

.process h3 {
  margin: 40px 0 16px;
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #DDDDDD;
}

@media screen and (max-width: 768px) {
  .process h3 {
    font-size: 18px;
  }
}

.process h4 {
  margin: 32px 0 16px;
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #DDDDDD;
}

@media screen and (max-width: 768px) {
  .process h4 {
    font-size: 16px;
  }
}

.process h5 {
  margin: 24px 0 16px;
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #DDDDDD;
}

@media screen and (max-width: 768px) {
  .process h5 {
    font-size: 15px;
  }
}

.process h6 {
  margin: 16px 0 16px;
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #DDDDDD;
}

@media screen and (max-width: 768px) {
  .process h6 {
    font-size: 14px;
  }
}

.process p {
  margin: 16px 0 16px;
}

@media screen and (max-width: 768px) {
  .process {
    width: 100%;
    margin: 0 0 120px;
    padding: 0 24px;
  }
}
/*# sourceMappingURL=post.module.css.map */